.popup-button{
    padding: 10px 50px;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.popup-btn button{
    float: right;
    margin: 10px;
}

.popup{
    width: 80%;
    height: 50%;
    float: left;
    background-color: #F3EEEA;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
    position: absolute;
    z-index: 1000;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 0.5s;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}