* {box-sizing: border-box;}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background: #F3EEEA;
    transition: background 0.4s;
}

.left-header-nav{ /*PARTE ESQUERDA DO NAV*/
    background-color: #B0A695;
    width: 40%;
    float: left;
    display: flex;
    /*justify-content: right;*/
    align-items: center;
    height: 100px;
    transition: background 0.4s;
}

.left-header-nav .time-and-theme{
    width: 100%;
    margin: 10px;
    align-items: initial;
}

.left-header-nav .time-and-theme a{
    font-size: 0.8vw;
}

.left-header-nav .theme-container{
    margin-bottom: 40px;
    cursor: pointer;
}

.left-header-nav .time{
    margin-top: -40px;
}

.center-header-nav{ /*PARTE CENTRAL DO NAV*/
    background-color: #776B5D;
    height: 100px;
    width: 20%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.4s;
}

.right-header-nav{ /*PARTE DA DIREITA DO NAV*/
    background-color: #B0A695;
    height: 100px;;
    width: 40%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: background 0.4s;
}

.dropdown-super-todoterreno{
    width: 100%;
}

.contact-space{
    width: 25%;
    justify-content: right;
}

.voltar{
    width: 100%;
}

.header-nav ul{
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 20px;
}

.header-nav ul li{
    color:white;
    font-weight: bold;
    font-family: Arial;
    font-size: 1.1vw;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.header-nav a{
    font-size: 1.7vw;
    font-weight: bold;
    font-family: Arial;
    color: white;
}

.header-nav button{
    font-family: Arial;
    font-size: 1.1vw;
    border: none;
    background: none;
    cursor: pointer;
    color:white;
}

.page-wrapper{ /*PARTE PRINCIPAL DA PÁGINA*/
    width: 80%;
    margin: 0 auto;
}

.separador{
    width: 3px;
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    background-color: white;
    border: 2px;
    border-radius: 20px;
}

.orient-slideshow{
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    /*box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.3), -4px -4px 50px rgba(0, 0, 0, 0.3);*/
    padding: 20px;
}

.orient-slideshow ul{
    list-style-type: none;
}

.orient-slideshow ul li {
    margin: 10px;
}

.slideshow-text{
    width: 50%;
    float: left;
}

.div-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vw; 
}

.div-separador{
    margin-left: 10%;
    float: left;
    width: 80%;
    height: 5px;
    border: 2px;
    border-radius: 10px;
    background-color: black;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10%;
}

.image-box{
    float: left;
    width: 33%;
    position: relative;
    max-width: 50%;
}

.image-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imaginary-button-left, .imaginary-button-right{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.imaginary-button-left{
    left: 0;
}

.imaginary-button-right{
    right: 0;
}

.imaginary-button-left:hover, .imaginary-button-right:hover {
    background-color: rgba(0,0,0,0.8);
  }

.image-buttons button{
    margin-top: 10px;
    width: 15%;
    height: 25px;
    border: none;
    background-color: #B0A695;
    cursor: pointer;
    border-radius: 10px;
    color:#F3EEEA;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
}

.image-buttons button:hover{
    opacity: 0.7;
}

.image-buttons button:active{
    opacity: 0.4;
}

.text-box{
    display: flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.option-box{
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-box ul li{
    font-size: 1.3vw;
    font-family: 'Courier New', Courier, monospace;
}

.text-box ul{
    list-style-type: none;
}

.text-box ul li{
    margin: 10px;
    font-family: Arial;
    font-size: 1.2vw;
}

.classic-text-1, .sports-text-1, .super-text-1, .todoterreno-text-1{
    
    font-weight: bold;
    text-align: center;
}

.classic-text-2, .sports-text-2, .super-text-2, .todoterreno-text-2{

    font: Arial;
    text-align: left;
}

.orient-slideshow-carro{
    width: 98%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    box-shadow: 4px 4px 50px rgba(0, 0, 0, 0.3), -4px -4px 50px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

footer{
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    float: left;
    margin-top: 50px;
}

footer a{
    text-decoration: none;
    color: white;
}

.footer-wrapper{
    width: 80%;
    margin-left: 10%;
}

.footer-wrapper-buttons1{
    float: left;
    width: calc(100/3);
}

.footer-wrapper-buttons1 ul li{
    margin: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 10px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #776B5D;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: rgb(140, 140, 140);
}

input:checked + .slider:before{
    background-color: black;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px rgb(140, 140, 140);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}
